
<form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border border-dark container" >
    <div class="row g-0">
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Register</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="firstname" placeholder="firstname"
            formControlName="firstname">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="lastname" placeholder="lastname"
            formControlName="lastname">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="email" placeholder="email"
            formControlName="email">
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" id="phone" placeholder="phone"
            formControlName="phone">
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <div class="d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

</form>